<a href="https://colab.research.google.com/github/Billy-24/my_mathematics_repo_temp/blob/main/Exercice_sur_l'exploration_de_donn%C3%A9_Chipotle.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from google.colab import files
import io
uploaded = files.upload()
import matplotlib.pyplot as plt
import numpy as np
import datetime
import seaborn as sns
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import LabelEncoder

In [ ]:
data = pd.read_csv(io.BytesIO(uploaded['chipotle.csv']))
data.tail(10)

In [ ]:
data.info()

In [ ]:
shape = data.shape

In [ ]:
# Affichez le nombre de lignes et de colonnes
print("Nombre de lignes :", shape[0])
print("Nombre de colonnes :", shape[1])

In [ ]:
# Affichez toutes les colonnes en utilisant l'attribut columns
print(data.columns)

In [ ]:
commandes_par_article = data.groupby('item_name').agg({'order_id': 'count', 'quantity': 'sum'})

In [ ]:
# Réinitialisez l'index pour afficher les noms d'article en tant que colonne
resultat = commandes_par_article.reset_index()

In [ ]:
# Trouvez l'article avec le nombre de commandes le plus élevé
article_plus_commande = commandes_par_article.idxmax()

In [ ]:
# Affichez l'article le plus commandé
print("L'article le plus commandé est :", article_plus_commande)

In [ ]:
# Groupez les données par le nom de l'article
resultat = data.groupby('item_name').agg({'order_id': 'count', 'order_id': 'sum', 'quantity': 'sum'})

# Renommez les colonnes
resultat = resultat.rename(columns={'order_id': 'count', 'quantity': 'sum'})

# Réinitialisez l'index pour afficher les noms d'article en tant que colonne
resultat = resultat.reset_index()

# Ajoutez une colonne 'Sans nom' pour les noms d'article
resultat['item_name'] = resultat['item_name']

# Réorganisez les colonnes dans l'ordre souhaité
resultat = resultat[['item_name','count', 'sum']]
# Triez le DataFrame par la colonne 'Somme des numéros de commande' en ordre décroissant
resultat = resultat.sort_values(by='sum', ascending=False)

# Réinitialisez l'index après le tri
resultat = resultat.reset_index(drop=True)

# Affichez le résultat
print(resultat)

In [ ]:
nombre_articles_commandes = data['quantity'].count()

# Affichez le résultat
print("Le nombre total d'articles commandés dans le dataset Chipotle est :", nombre_articles_commandes)

In [ ]:

# B. Calcul du prix total pour chaque article
data['revenus'] = data['quantity'] * data['item_price']

# C. Calcul du total des revenus
total_revenus = data['revenus'].sum()

In [ ]:
# D. Arrondir le résultat à deux décimales
total_revenus_arrondi = round(total_revenus, 2)

# Affichez le résultat
print("Le total des revenus réalisés par Chipotle est :", total_revenus_arrondi)

In [ ]:
# B. Calcul du prix total pour chaque article
data['revenus'] = data['quantity'] * data['item_price']

In [ ]:
# Groupez les données par numéro de commande et calculez la somme des revenus pour chaque commande
revenus_par_commande = data.groupby('order_id')['revenus'].sum()

# Calculez la moyenne des revenus par commande
revenu_moyen_par_commande = revenus_par_commande.mean()
# Affichez le résultat
print("Le revenu moyen par commande est de :", revenu_moyen_par_commande)

In [ ]:
# B. Calcul du prix total pour chaque article
data['revenus'] = data['quantity'] * data['item_price']
# Groupez les données par numéro de commande et calculez la somme des revenus pour chaque commande
revenus_par_commande = data.groupby('order_id')['revenus'].sum()

# Calculez la moyenne des revenus par commande
revenu_moyen_par_commande = revenus_par_commande.mean()
# Calculez la moyenne pour chaque colonne
resultat = data.mean()

# Renommez l'index pour le rendre conforme à votre exemple
resultat.index.name = 'Unnamed: 0'
# Affichez le résultat
print("Le revenu moyen par commande est de :", revenu_moyen_par_commande)

# Affichez le résultat
print(resultat)